@font-face {
    font-family: 'Cunia';
    src: url('./assets/fonts/Cunia.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Bold';
    src: url('./assets/fonts/Klavika-Bold.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Bold Italic';
    src: url('./assets/fonts/Klavika-BoldItalic.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Light';
    src: url('./assets/fonts/Klavika-Light.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Light Italic';
    src: url('./assets/fonts/Klavika-LightItalic.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Medium';
    src: url('./assets/fonts/Klavika-Medium.otf');
    font-weight: 200;
    font-style: normal;
}