<app-toolbar [quantity]="totalProducts"></app-toolbar>

<ion-content [fullscreen]="true" class="animated fadeIn">
    <app-navigationdrawer></app-navigationdrawer>



    <ion-content>
        <ion-list>
            <ion-radio-group>
                <ion-list-header>
                    <ion-text color="primary">
                        <h1>Metodo de envio</h1>
                    </ion-text>
                </ion-list-header>

                <!--<ion-item>
                    <ion-label>A domicilio</ion-label>
                    <ion-icon name="car" slot="start"></ion-icon>
                    <ion-radio value="delivery" (click)="shipping($event)"> </ion-radio>
                </ion-item> -->

                <ion-item>
                    <ion-label>Recoger en tienda</ion-label>
                    <ion-icon name="walk" slot="start"></ion-icon>
                    <ion-radio value="storePickup" (click)="shipping($event)"></ion-radio>
                </ion-item>

                <ion-slides *ngIf="shippingMethod === 'storePickup'" class="animated shake">
                    <ion-slide class="activeSlide">
                        <ion-card>
                            <ion-icon name="locate-outline" slot="start"></ion-icon>
                            <ion-card-content>
                                Av. Tecnológico 3070, Fraccionamiento, 32618 Cd Juárez, Chih. Tel: 656 686 2200
                            </ion-card-content>
                        </ion-card>

                    </ion-slide>

                </ion-slides>

            </ion-radio-group>

            <ion-radio-group>
                <ion-list-header>
                    <ion-text color="primary">
                        <h1>Metodo de pago</h1>
                    </ion-text>
                </ion-list-header>

                <ion-item>
                    <ion-label>Tarjeta</ion-label>
                    <ion-icon name="card-outline" slot="start"></ion-icon>
                    <ion-radio value="creditcard" (click)="payment($event)"></ion-radio>
                </ion-item>

                <div *ngIf="paymentMethod === 'creditcard'">
                    <div class="card-container animated flipInX"></div>

                    <form card container=".card-container" formatting="false" debug="true" class="animated fadeInLeft">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-item>
                                        <ion-icon name="card-outline" slot="start"></ion-icon>
                                        <input type="text" name="number" card-number placeholder="XXXX XXXX XXXX XXXX" />
                                    </ion-item>
                                </ion-col>
                                <ion-col size="12">
                                    <ion-item>
                                        <ion-icon name="person-outline" slot="start"></ion-icon>
                                        <input type="text" name="first-name" card-name placeholder="Nombre completo" />
                                    </ion-item>
                                    <ion-col size="4">
                                        <ion-item>
                                            <ion-icon name="albums-outline"></ion-icon>
                                            <input type="text" name="expiry" card-expiry style="width: 50%;" placeholder="MM/YY" />
                                            <input type="text" name="cvc" card-cvc style="width: 50%;" placeholder="CVC" />
                                        </ion-item>
                                    </ion-col>
                                </ion-col>


                            </ion-row>
                        </ion-grid>

                    </form>
                </div>



                <ion-item>
                    <ion-label>En efectivo</ion-label>
                    <ion-icon name="cash-outline" slot="start"></ion-icon>
                    <ion-radio value="cash" (click)="payment($event)"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Total: $ {{ totalPrice }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                {{message}}
            </ion-card-content>
        </ion-card>
        <ion-button expand="full" color="success" (click)="payAndProceed()">
            PAGAR
        </ion-button>
    </ion-content>

</ion-content>