<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>

        </ion-buttons>
        <ion-searchbar placeholder="Buscar" animated></ion-searchbar>
        <ion-buttons slot="primary">
            <ion-button color="tertiary" (click)="presentModal()">
                <ion-icon name="cart-outline" style="font-size:25pt;"></ion-icon>
                <ion-badge color="light">2</ion-badge>
            </ion-button>
            <ion-button color="secondary">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>