ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}

.category-block {
    margin-bottom: 4px;
}

.category-banner {
    border-left: 8px solid var(--ion-color-secondary);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}

.container {
    position: relative;
    width: 100%;
}

.slidetitle {
    position: absolute;
    bottom: 60px;
    left: 18px;
    color: white;
    text-align: left;
}

.block {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
}

.author {
    position: absolute;
    bottom: 25px;
    left: 20px;
    color: rgb(240, 240, 240);
    font-size: 15px !important;
    font-weight: 300;
    text-shadow: 1px 1px 3px #000000;
}

.sub-headers {
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.productText {
    color: #4b9d2e;
    font-family: 'Klavika', sans-serif;
    font-size: 12pt!important;
}

.luchofertas {
    position: absolute;
    width: 150px;
    z-index: 2;
    top: 40px;
}