<app-toolbar [quantity]="getCount()"></app-toolbar>

<ion-content [fullscreen]="true" class="animated fadeIn">
    <app-navigationdrawer></app-navigationdrawer>

    <ion-img src="assets/icon/Luchofertas.png" class="luchofertas"></ion-img>

    <!-- Promos -->
    <ion-slides class="slide-padding" pager="false" [options]="sliderPromo">
        <ion-slide *ngFor="let promo of promos">
            <div class="container">
                <ion-img src="{{promo.img}}" style="height: 200px"></ion-img>
                <h2 class="slidetitle">
                    <span class="block">{{promo.name}}</span>
                </h2>
                <ion-fab-button style="float: right;" color="light" size="small" (click)="addToCart(promo)">
                    <ion-icon name="add-circle-outline" color="success" style="zoom:2.0"></ion-icon>
                </ion-fab-button>
                <div class="sub-headers">
                    <ion-text color="danger" slot="end">
                        <h2 style="font-family: 'Cunia', sans-serif;">$ {{ promo.totalPrice.toFixed(2) }}</h2>
                    </ion-text>
                </div>

            </div>

        </ion-slide>
    </ion-slides>
    <!-- Promos -->

    <!-- Productos y categorias -->
    <div *ngFor="let cat of items" class="category-block">

        <ion-row no-padding class="category-banner" expand="full">
            <ion-col text-left button tappable (click)="expandCategory(cat)" align-self-center>
                {{ cat.category }}
                <ion-icon [name]="getIcon(cat.expanded)" style="float: right;"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let product of cat.products">
                <ion-card *ngIf="cat.expanded">
                    <ion-card-header>
                        <ion-card-title>
                            <ion-fab-button size="small" style="float: right;" color="light" (click)="addToCart(product)">
                                <ion-icon name="add-circle-outline" color="success" style="zoom:2.0"></ion-icon>
                            </ion-fab-button>
                        </ion-card-title>
                        <ion-card-subtitle class="truncate">


                        </ion-card-subtitle>


                    </ion-card-header>
                    <ion-card-content>
                        <img [src]="product.img">
                        <ion-text slot="start">
                            <h1 class="truncate productText"> {{ product.name }}
                            </h1>
                        </ion-text>
                        <ion-text color="danger" slot="end">
                            <h2 style="font-family: 'Cunia', sans-serif;">$ {{ product.totalPrice.toFixed(2) }}</h2>
                        </ion-text>






                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <!-- Productos y categorias -->


</ion-content>