<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
    <app-navigationdrawer></app-navigationdrawer>

    <ion-content padding>

        <div class="login-box">


            <ion-avatar padding style="margin:auto;">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>


            <form (ngSubmit)="save(saveForm)" #saveForm="ngForm">
                <ion-row>
                    <ion-col>
                        <ion-list inset>

                            <ion-item>
                                <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="info.name" required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="info.email" required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="info.password"></ion-input>
                                <small>Blank field don't modify password</small>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="signup-col">
                        <ion-button class="submit-btn" full type="submit" [disabled]="!saveForm.form.valid">Save</ion-button>
                    </ion-col>
                </ion-row>

            </form>
        </div>







        <!-- <ion-footer-bar  class="bar button-bar-footer" style="height: auto;">   -->
        <div id="footer" class="button-bar">
            <a style="min-width: 50%;border-radius: 0px;" ng-click="cancel()" class="button button-lite icon-left ion-close">Cancel</a>
            <a style="min-width: 50%;border-radius: 0px;" ng-click="save(user_extras,data_editable)" class="button button-assertive icon-left ion-checkmark">Save</a>
        </div>
        <!-- </ion-footer-bar>  -->

    </ion-content>